# Ignore compiled Python files
*.pyc

# Ignore the virtual environment
venv/

# Ignore Django's migrations

# Ignore local settings file
local_settings.py

# Ignore secret key
*.secret_key

# Ignore log fil    es
logs/


# Ignore database files

# Ignore IDE files
.idea/
.vscode/
